.dropdown {
    position: absolute;
    top: 48px;
    z-index: var(--header-z-index);
    right: 0;
    display: flex;
    background-color: var(--light-color);
    padding-top: 10px;
    max-width: 600px;
}

.searched {
    &-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: 650px) {
            display: none;
        }

    }
}

.history {
    width: 200px;
    margin-right: 16px;



    &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        color: var(--gunmetal-color);
        margin-bottom: 10px;
        margin-left: 16px;
    }

    &-list {
        margin-left: 16px;
    }

    &__item {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: var(--gunmetal-color);

        &:hover {
            cursor: pointer;
            color: var(--eerie-black-color);
        }
    }

    &--long {
        width: 400px;
    }
}

.notfound {
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        text-align: center;
    }
}