.empty {
    min-height: 38vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &-wrapper {
        max-width: 580px;
        margin: 0 auto;
        color: var(--eerie-black-color);
        border: 1px solid var(--titan-color);
        text-align: center;
        max-height: 100%;
    }

    &-content {
        padding: 36px;
        height: 100%;

        @media (max-width: 400px) {
            padding: 16px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 8px;

        @media (max-width: 500px) {
            font-size: 30px;
            word-wrap: wrap;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 34px;
        line-height: 130%;
        margin-bottom: 8px;

        @media (max-width: 500px) {
            font-size: 26px;
        }
    }

    &__descr {
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        margin-bottom: 24px;
    }

    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        padding: 0 25px;
        height: 48px;
        max-width: 152px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background-color: var(--yellow-color);
        transition: var(--default-trans);

        &:hover {
            background-color: var(--gunmetal-color);
            color: var(--white-color);
        }

        &:active {
            background-color: var(--gunmetal-color);
            color: var(--light-gray-color);
        }
    }
}