.category-side{
    width: 278px;
    max-height: 500px;
    border: 1px solid var(--titan-color);
    display: inline-block;
}
.slider-decorate{
    width: 20px;
    height: 20px;
    position: relative;
    &:hover{
        cursor: pointer;
    }
    &::after{
        content: '';
        width: 1px;
        height: 8px;
        background-color: var(--gunmetal-color);
        position: absolute;
        left: calc(50% - 4px);
        top: calc(50% - 4px);
    }
    &::before{
        content: '';
        width: 1px;
        height: 8px;
        background-color: var(--gunmetal-color);
        position: absolute;
        right: calc(50% - 2px);
        top: calc(50% - 4px);
    }
}
.title{
    font-weight: 700;
    font-size: 18px;
    line-height: 136%;
    color: var(--eerie-black-color);
    margin-bottom: 12px;
}
.range-input{
    max-width: 117px;
    height: 48px;
    border: none;
    border-bottom: 1px solid var(--light-gray-color);
    outline: none;
    width: 100%;
}
.inputs-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.search{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--light-gray-color);
    width: 100%;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 136%;
    color: var(--philippine-gray-color);
}
.side{ 
    &-footer{
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-top: 1px solid var(--titan-color);
    }
    &-main{
        padding: 16px;
    }
}
.submit{
    border: none;
    background-color: var(--yellow-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 136%;
    color: var(--eerie-black-color);
    height: 48px;
    margin-bottom: 16px;
    transition: .4s;
    &:hover{
        cursor: pointer;
        background-color: var(--gunmetal-color);
        color: var(--white-color);
    }
    &:active{
        color: var(--light-gray-color);
    }
}
.cancel{
    height: 48px;
    font-weight: 500;
    font-size: 18px;
    line-height: 136%;
    color: var(--eerie-black-color);
    background-color: transparent;
    border: 1px solid var(--light-gray-color);
    transition: .4s;
    &:hover{
        cursor: pointer;
        background-color: var(--gunmetal-color);
        color: var(--white-color);
    }
    &:active{
        color: var(--light-gray-color);
    }
}
