.category {
    &-container {
        display: flex;
        justify-content: flex-start;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}