.registration {
    &-list {
        &__item {
            display: inline-flex;
            justify-content: space-between;
            margin-bottom: 25px;
            width: 100%;

            @media (max-width: 650px) {
                flex-direction: column;
                margin-bottom: 0;
            }
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: var(--gunmetal-color);
        width: 100%;

        &:not(:last-child) {
            margin-right: 16px;
        }

        p {
            color: red;
        }

        @media (max-width: 650px) {
            margin-bottom: 25px;
        }
    }

    &-input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--light-gray-color);
        height: 48px;
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        color: var(--philippine-gray-color);
        margin-top: 8px;
        width: 100%;
        min-width: none;
    }

    &-btn {
        height: 48px;
        width: 232px;
        margin: 0 auto;
        border: none;
        background-color: var(--yellow-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        color: var(--eerie-black-color);
        transition: var(--default-trans);

        &:hover {
            cursor: pointer;
            background-color: var(--eerie-black-color);
            color: var(--white-color);
        }

        &:active {
            color: var(--light-gray-color);
        }
    }
}