.burger {
    width: 26px;
    height: 26px;
    border: none;
    position: relative;
    background-color: transparent;
    display: none;
    overflow: hidden;

    span {
        position: absolute;
        width: 22px;
        height: 2px;
        top: calc(50% - 1px);
        left: calc(50% - 11px);
        background-color: var(--eerie-black-color);
        transition: var(--default-trans);
    }

    &::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        top: 4px;
        left: calc(50% - 11px);
        background-color: var(--eerie-black-color);
        transition: var(--default-trans);
    }

    &::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        bottom: 4px;
        left: calc(50% - 11px);
        background-color: var(--eerie-black-color);
        transition: var(--default-trans);
    }

    @media (max-width: 900px) {
        display: block;
    }

    &--active {
        span {
            transform: translateX(50px);
        }

        &::before {
            top: calc(50% - 1px);
            transform: rotate(45deg);
        }

        &::after {
            top: calc(50% - 1px);
            transform: rotate(-45deg);
        }
    }
}