.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.popular-products{
    &-headline{
        padding: 20px 0 16px 0;
    }
    &__title{
        font-weight: 600;
        font-size: 34px;
        line-height: 130%;
        color: var(--gunmetal-color);
    }
}