.hero{
    &-layout{
        max-width: 1360px;
        height: 456px;
        margin: 0 auto;
        background-image: url('../../../public/assets/images/layouts/hero-layout.webp');
        background-repeat: no-repeat;
    }
    &-content{
        max-width: 670px;
        margin: 88px 0 0 198px;
    }
    &-title{
        font-weight: 600;
        font-size: 34px;
        line-height: 130%;
        color: var(--gunmetal-color);
        margin-bottom: 20px;
    }
    &-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--gunmetal-color);
        &:not(:last-child){
            margin-bottom: 25px;
        }
    }
}