.change-locate {
    max-width: 572px;
    padding: 36px;
    background-color: var(--white-color);
    margin: 0 10px;

    &-title {
        font-weight: 600;
        font-size: 34px;
        line-height: 130%;
        color: var(--gunmetal-color);
        text-align: center;
        margin-bottom: 24px;

        @media (max-width: 500px) {
            font-size: 28px;
        }
    }

    &-form {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--light-gray-color);
        margin-bottom: 24px;

        &__btn {
            width: 48px;
            height: 47px;
            border: none;
            outline: none;
            background-color: transparent;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &-input {
        height: 47px;

        border: none;
        outline: none;
        color: var(--philippine-gray-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        width: 100%;
        padding: 0;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
        row-gap: 16px;
        max-height: 184px;
        overflow-y: auto;
        overflow-x: hidden;

        @media (max-width: 650px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 400px) {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            overflow-x: hidden;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: var(--gunmetal-color);
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &::before {
                content: url("data:image/svg+xml,%3Csvg width=%2716%27 height=%2716%27 viewBox=%270 0 24 20%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M5 12H19%27 stroke=%27%23454950%27 stroke-width=%272%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27/%3E%3Cpath d=%27M12 5L19 12L12 19%27 stroke=%27%23454950%27 stroke-width=%272%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27/%3E%3C/svg%3E");
                margin-right: 4px;
                transform: translateX(-20px);
                transition: .4s;
            }

            p {
                transform: translateX(-20px);
                transition: .4s;
                white-space: nowrap;
            }

            &:hover {
                cursor: pointer;

                p {
                    transform: translateX(0px);
                }

                &::before {
                    transform: translateX(0px);
                }
            }

        }
    }

    &__empty {
        text-align: center;
        grid-column: span 3;
    }
}