.order-item {
    display: flex;

    &__main {}

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: var(--gunmetal-color);
        margin-bottom: 16px;
        height: 66px;
        overflow: auto;
    }

    &__price {
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: var(--eerie-black-color);
        display: inline-block;
        margin-bottom: 10px;
    }

    &__count {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: var(--gunmetal-color);
    }

    @media (max-width: 400px) {
        flex-direction: column;
    }
}