.category {
    &-main {}

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        @media (max-width: 1100px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 650px) {
            grid-template-columns: repeat(1, 1fr);
        } 

        li {
            @media (max-width: 1100px) {
                display: flex;
                justify-content: center;
            }
        }
    }
}