.category{ 
    &-main{

    }
    &-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}
.sort{
    &-list{
        display: flex;
        gap: 16px;
        margin-bottom: 16px;
        &__item{
            
        }
        &__btn{
            border: none;
            background-color: transparent;
            outline: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: var(--philippine-gray-color);
            &:hover{
                cursor: pointer;
            }
            &--active{
                color: var(--eerie-black-color);
            }
        }
    }
}