.refund {
    &-list {}

    &-item {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 80px;
        }

        &__title {
            font-weight: 600;
            font-size: 34px;
            line-height: 130%;
            color: var(--gunmetal-color);
            max-width: 318px;

            @media (max-width: 900px) {
                text-align: left;
                max-width: 100%;
                margin-bottom: 16px;
            }

            @media (max-width: 500px) {
                font-size: 25px;
            }
        }

        &__text {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            max-width: 768px;

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }

        &__content {}

        @media (max-width: 900px) {
            flex-direction: column;

        }
    }
}