.reviews{
    &-slide{
        
        &-header{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        &-content{
            margin-bottom: 15px;
            flex:1 1;
            p{
                font-weight: 300;
                font-size: 16px;
                line-height: 150%;
                color: var(--gunmetal-color);
                overflow: auto;
            }
        }
        &-date{
            font-weight: 500;
            font-size: 15px;
            line-height: 145%;
            color: var(--philippine-gray-color);
        }
        &__name{
            font-weight: 500;
            font-size: 18px;
            line-height: 136%;
            color: var(---gunmetal-color);
            margin-left: 10px;
            
        }
    }
}