.grid-item{
    &__content{
        border: 1px solid var(--titan-color);
        max-width: 278px;
        position: relative;
        &--h{
            max-width: 572px;
            max-height: 208px;
            display: flex;
            border: 1px solid var(--titan-color);
            position: relative;
        }
    }
    &__image{
        max-width: 276px;
        max-height: 207px;
        border-bottom: 1px solid var(--titan-color);
        &--h{
            max-width: 276px;
            max-height: 207px;
            border-right: 1px solid var(--titan-color);
        }
    }
    &__main{
        padding: 16px;
    }
    &__title{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: var(--gunmetal-color);
        height: 72px;
        overflow: auto;
    }
    &__price{
        margin-bottom: 25px;
        display: flex;
        align-items: flex-end;
        &--current{
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: var(--eerie-black-color);
            margin-right: 8px;
        }
        &--past{
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: var(--philippine-gray-color);
            padding-bottom: 2px;
        }
    }
    &__btn{
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        color: var(--eerie-black-color);
        background-color: var(--yellow-color);
        padding: 12px 0;
        transition: .4s;
        border: none;
        &:hover{
            background-color: var(--gunmetal-color);
            color: var(--white-color);
        }
        &:active{
            color: var(--light-gray-color);
        }
    }
    &__discount{
        font-weight: 500;
        font-size: 15px;
        line-height: 145%;
        color: var(--eerie-black-color);
        padding: 4px 8px;
        border: 1px solid var(--yellow-color);
        position: absolute;
        top: 16px;
        left: 16px;
        background-color: var(--white-color);
    }   
}