.side{
    max-width: 278px;
    &-container{
        padding: 16px;
        width: 278px;
        border-bottom: 1px solid var(--titan-color);
    }
    &-main{
        border: 1px solid var(--titan-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;
    }
    &-title{
        font-weight: 700;
        font-size: 18px;
        line-height: 136%;
        color: var(--eerie-black-color);
        margin-bottom: 12px;
    }
    &-list{
        &__item{
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            &:not(:last-child){
                margin-bottom: 12px;
            }
        }
        &__value{
            display: flex;
            flex-direction: column;
        }
    }
    &-btn{
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        padding: 12px 51px;
        background-color: var(--yellow-color);
        border: none;
        transition: .3s;
        max-width: 243px;
        margin: 16px 0;
        outline: none;
        &:hover{
            background-color: var(--gunmetal-color);
            color: var(--white-color);
            cursor: pointer;
        }
        &:active{
            background-color: var(--gunmetal-color);
            color: var(--light-gray-color);
        }
    }
    &-info{
        &__item{
            display: flex;
            align-items: flex-start;
            &:not(:last-child){
                margin-bottom: 16px;
                
            }
        }
        &__content{
            font-weight: 500;
            font-size: 15px;
            line-height: 145%;
            margin-left: 10px;
            // color: var(--space-color);
        }
    }
}