.footer {
    background-color: var(--gunmetal-color);
    color: var(--titan-color);
    margin-top: 80px;

    &-main {
        display: flex;
        padding: 40px 0;
        justify-content: space-between;

        @media (max-width: 900px) {
            align-items: center;
            flex-direction: column;
        }
    }

    &-contacts {
        margin-right: 100px;

        @media (max-width: 900px) {
            margin-right: 0;
            margin-bottom: 40px;
        }

        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-nav {
        display: flex;
        flex: 4;
        column-gap: 16px;

        &-list {
            flex: 3 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            @media (max-width: 900px) {
                flex: none;
                display: flex;
                flex-direction: column;
                overflow: hidden;
            }

            &:last-child {
                width: 180px;
            }

            &__item {
                padding-bottom: 16px;
                transition: var(--default-trans);
                display: flex;
                align-items: center;

                svg {
                    transform: translateX(-16px);
                    transition: var(--default-trans);
                }

                &:hover {
                    transform: translateX(30px);

                    svg {
                        transform: translateX(0px);
                    }
                }
            }
        }

        @media (max-width: 500px) {
            display: none;
        }
    }

    &-cellar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--granite-gray-color);
        padding: 16px 0 20px 0;

        @media (max-width: 750px) {
            flex-direction: column;
            row-gap: 16px;
        }
    }

    &-payment {
        display: flex;
        align-items: center;

        img {
            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }
}

.email {
    display: flex;
    padding: 16px 0;

    svg {
        margin-right: 8px;
    }
}

.adress {
    display: flex;

    svg {
        margin-right: 8px;
    }
}

.dropdown {
    &-container {
        display: none;

        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }

    &__btn {
        background-color: transparent;
        border: 1px solid var(--titan-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        color: var(--white-color);
        transition: var(--default-trans);
        height: 48px;
        margin: 0 auto;
        padding: 0 16px;
    }

    &-list {
        overflow: hidden;
        max-height: 0px;
        transition: var(--default-trans) ease-in-out;
        display: flex;
        flex-direction: column;
        margin: 8px 0 0 16px;
        row-gap: 8px;

        &--active {
            max-height: 200px;
        }
    }

    &__item {

        transition: var(--default-trans);
        display: flex;
        align-items: center;

        svg {
            transform: translateX(-16px);
            transition: var(--default-trans);
        }

        &:hover {
            transform: translateX(30px);

            svg {
                transform: translateX(0px);
            }
        }
    }
}