.cart-card{
    border: 1px solid var(--titan-color); 
    display: flex;
    max-height: 208px;
    &:not(:last-child){
        margin-bottom: 16px;
    }
    &-img{

    }
    &-main{
        padding: 16px;
        max-width: 294px;
    }
    &__title{
        margin-bottom: 27px;
    }
    &__price{
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: var(--eerie-black-color);
    }
    &-form{
        display: flex;
        margin-top: 28px;
        &__btn{
            width: 48px;
            height: 48px;
            border: 1px solid var(--titan-color);
            background-color: transparent;
            position: relative;
            transition: .3s;
            outline: none;
            &:hover{
                cursor: pointer;
                background-color: var(--eerie-black-color);
                border-color: var(--eerie-black-color);
                &::before{
                    background-color: var(--white-color);
                }
                &::after{
                    background-color: var(--white-color);
                }
            }
            &:active{
                &::before{
                    background-color: var(--light-gray-color);
                }
                &::after{
                    background-color: var(--light-gray-color);
                }
            }
            &--plus{
                &::after{
                    content: '';
                    width: 16px;
                    height: 2px;
                    background-color: var(--eerie-black-color);
                    display: inline-block;
                    position: absolute;
                    border-radius: 50px;
                    top: 50%;
                    left: calc(50% - 8px);
                    transition: .3s;
                }
                &::before{
                    content: '';
                    height: 16px;
                    width: 2px;
                    background-color: var(--eerie-black-color);
                    display: inline-block;
                    position: absolute;
                    border-radius: 50px;
                    top: calc(50% - 7px);
                    left: calc(50% - 1px );
                    transition: .3s;
                }
            }
            &--minus{
                &::after{
                    content: '';
                    width: 16px;
                    height: 2px;
                    background-color: var(--eerie-black-color);
                    display: inline-block;
                    position: absolute;
                    border-radius: 50px;
                    top: 50%;
                    left: calc(50% - 8px);
                    transition: .3s;
                }
            }
        }
        &__input{
            height: 48px;
            border: 1px solid var(--titan-color);
            max-width: 166px;
            outline: none;
            text-align: center;
        }
    }
    &-additional{
        padding: 16px;
        max-width: 294px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__code{
        max-width: 119px;
    }
    &__delete{
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        height: 48px;
        padding: 0 67px;
        background-color: transparent;
        border: 1px solid var(--titan-color);
        &:hover{
            cursor: pointer;
            background-color: var(--eerie-black-color);
            color: var(--white-color);
            transition: .3s;
        }
        &:active{
            color: var(--light-gray-color);
        }
    }
}