html {box-sizing: border-box;}
*,*::before,*::after {box-sizing: border-box;}
ul,ol {padding: 0; margin: 0; list-style: none;}
body,h1,h2,h3,h4,p,li,figure,figcaption,blockquote,dl,dd {margin: 0; font-family: var(--M-font);}
body {min-height: 100vh;scroll-behavior: smooth;text-rendering: optimizeSpeed;}
input,button,textarea,select {font: inherit;}
img {height: auto;max-width: 100%;object-fit: cover;}
a {text-decoration: none; color: inherit;}
.is-hidden {display: none !important; /* stylelint-disable-line declaration-no-important */}
.btn-reset {border: none;padding: 0;background: transparent;cursor: pointer; font: inherit; color: inherit;}

.container{
  max-width: var( --container-width); 
  overflow: hidden;
  margin: 0 auto;
  padding: 0 var(--container-offset);
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: var(--light-color);
  outline: none;
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}
