@import "vars";
@import "setting";

.mb80{
    margin-bottom: 80px;
}

.main-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: var(--eerie-black-color);
}
[class*="copyrights-pane"] {
    display: none !important;
}
[class*="ground-pane"]{
    filter: grayscale(1);
}
[class*="svg-icon"]{
    filter: grayscale(1);
}
.slider-prev{
    bottom: 40px;
    right: 164px;
}
.slider-next{
    bottom: 40px;
    right: 100px;
}
.review-prev{
    top: 0;
}
.review-next{
    top:0;
}
.slider-btn-prev{
    position: absolute;
    width: 52px;
    height: 52px;
    background-color: var(--white-color);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    svg{
        transform: rotate(180deg);
        path{
            transition: .3s;
        }
    }
    
    &:hover{
        cursor: pointer;
        background-color: var(--gunmetal-color);
        svg{
            path{
                stroke: var(--white-color);
            }
        }
    }
    &:active{
        background-color: var(--gunmetal-color);
        svg{
            path{
                stroke: var(--light-gray-color);
            }
        }
    }
}
.slider-btn-next{
    position: absolute;
    width: 52px;
    height: 52px;
    background-color: var(--white-color);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    svg{
        path{
            transition: .3s;
        }
        
    }
    &:hover{
        cursor: pointer;
        background-color: var(--gunmetal-color);
        svg{
            path{
                stroke: var(--white-color);
            }
        }
    }
    &:active{
        background-color: var(--gunmetal-color);
        svg{
            path{
                stroke: var(--light-gray-color);
            }
        }
    }
}


