@import "vars";
@import "setting";

.mb80{
    margin-bottom: 80px;
}

.main-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: var(--eerie-black-color);
}
[class*="copyrights-pane"] {
    display: none !important;
}
[class*="ground-pane"]{
    filter: grayscale(1);
}
[class*="svg-icon"]{
    filter: grayscale(1);
}


