@import "vars";
@import "setting";

.mb80 {
    margin-bottom: 80px;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: var(--eerie-black-color);
}

[class*="copyrights-pane"] {
    display: none !important;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

[class*="svg-icon"] {
    filter: grayscale(1);
}

.slider-prev {
    bottom: 40px;
    right: 164px;
}

.slider-next {
    bottom: 40px;
    right: 100px;
}

.review-prev {
    top: 0;
}

.review-next {
    top: 0;
}

.slider-btn-prev {
    position: absolute;
    width: 52px;
    height: 52px;
    background-color: var(--white-color);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;

    svg {
        transform: rotate(180deg);

        path {
            transition: .3s;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: var(--gunmetal-color);

        svg {
            path {
                stroke: var(--white-color);
            }
        }
    }

    &:active {
        background-color: var(--gunmetal-color);

        svg {
            path {
                stroke: var(--light-gray-color);
            }
        }
    }

    @media (max-width: 750px) {
        display: none;
    }

}

.slider-btn-next {
    position: absolute;
    width: 52px;
    height: 52px;
    background-color: var(--white-color);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;

    svg {
        path {
            transition: .3s;
        }

    }

    &:hover {
        cursor: pointer;
        background-color: var(--gunmetal-color);

        svg {
            path {
                stroke: var(--white-color);
            }
        }
    }

    &:active {
        background-color: var(--gunmetal-color);

        svg {
            path {
                stroke: var(--light-gray-color);
            }
        }
    }

    @media (max-width: 750px) {
        display: none;
    }
}

.range-slider {
    height: 20px;
    margin-bottom: 30px;

    &__thumb {
        width: 20px;
        height: 20px;
        background-color: var(--white-color);
        outline: none;
        border: 1px solid var(--gunmetal-color);
        text-align: center;
    }

    &__track {
        height: 8px;
        background-color: var(--titan-color);
        top: calc(50% - 4px);

        &-1 {
            background-color: var(--philippine-gray-color);
        }
    }
}

.select {
    &:hover {
        cursor: pointer;
    }

    &__control {
        height: 48px;
        outline: none !important;
        border: none !important;
        border-bottom: 1px solid var(--light-gray-color) !important;
        background-color: transparent !important;
        box-shadow: none !important;
        border-radius: 0px !important;

        &--is-focused {
            border: none !important;
            border-bottom: 1px solid var(--light-gray-color) !important;
        }
    }

    &__single-value {
        font-weight: 500 !important;
        font-size: 18px !important;
        line-height: 136% !important;
        color: var(--philippine-gray-color) !important;
    }

    &__indicator-separator {
        display: none !important;
    }

    &__menu {
        border-radius: 0px !important;
        font-weight: 500 !important;
        font-size: 18px !important;
        line-height: 136% !important;
        color: var(--eerie-black-color) !important;
    }

    &__option {
        &:hover {
            background-color: rgba(252, 236, 65, 0.4) !important;
            cursor: pointer !important;
        }

        &--is-focused {
            background-color: transparent !important;
        }

        &--is-selected {
            background-color: var(--yellow-color) !important;
            color: var(--eerie-black-color) !important;
        }
    }

    &__indicator {
        &:hover {
            cursor: pointer !important;
        }
    }
}