.slider {
    max-width: 1380px;
    height: 420px;
    margin: 0 auto;
    padding: 0 5px;

    &-slide {
        height: 420px;
        position: relative;
        overflow: hidden;

        &:hover {
            cursor: pointer;
        }
    }

    &-content {
        height: 100%;
        padding: 40px 0 0 100px;
        position: relative;

        @media (max-width: 650px) {
            padding: 40px 0 0 0;
        }

        
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: var(--gunmetal-color);
        max-width: 600px;
        margin-bottom: 20px;

        @media (max-width: 650px) {
            text-align: center;
            min-width: 100%;
        }

        @media (max-width: 500px) {
            font-size: 38px;
        }

        @media (max-width: 500px) {
            font-size: 30px;
        }
    }

    &__descr {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        max-width: 500px;
        color: var(--gunmetal-color);

        @media (max-width: 650px) {
            text-align: center;
            min-width: 100%;
        }

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }

    &__btn {
        position: absolute;
        bottom: 40px;
        left: 100px;
        border: none;
        background-color: var(--yellow-color);
        padding: 12px 24px;
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        transition: .3s;
        max-width: 148px;

        &:hover {
            background-color: var(--gunmetal-color);
            color: var(--white-color);
        }

        &:active {
            background-color: var(--gunmetal-color);
            color: var(--light-gray-color);
        }

        @media (max-width: 650px) {
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }

    &__bkg {
        position: absolute;
        top: 0;
        z-index: -100;
        object-fit: cover;
        left: 0;
        height: 100%;
        max-width: 100%;
    }
}