.header {
    &-logo {
        max-height: 48px;

        @media (max-width: 1100px) {
            margin-right: 10px;
        }

        @media (max-width: 500px) {
            margin-right: 0; 
        }
    }

    &-main {
        &-btn {
            background-color: var(--yellow-color);
            max-height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 21px;
            transition: .4s;

            @media (max-width: 650px) {
                display: none;
            }

            &:hover {
                background-color: var(--gunmetal-color);

                .header-main-btn__text {
                    color: var(--white-color);
                }

                .header-main-btn__lines {
                    span {
                        border: 1px solid var(--white-color);
                    }

                    &::before {
                        content: '';
                        border: 1px solid var(--white-color);
                    }

                    &::after {
                        content: '';
                        border: 1px solid var(--white-color);
                    }
                }
            }

            &:active {
                background-color: var(--gunmetal-color);

                .header-main-btn__text {
                    color: var(--light-gray-color);
                }

                .header-main-btn__lines {
                    span {
                        border: 1px solid var(--light-gray-color);
                    }

                    &::before {
                        content: '';
                        border: 1px solid var(--light-gray-color);
                    }

                    &::after {
                        content: '';
                        border: 1px solid var(--light-gray-color);
                    }
                }
            }

            &__lines {
                position: relative;
                width: 24px;
                height: 24px;
                margin-right: 8px;

                span {
                    position: absolute;
                    width: 18px;
                    border: 1px solid var(--gunmetal-color);
                    border-radius: 50px;
                    top: calc(50% - 1px);
                    left: 4px;
                    transition: .3s;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 8px;
                    border: 1px solid var(--gunmetal-color);
                    border-radius: 50px;
                    top: 5px;
                    left: 4px;
                    transition: .3s;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 12px;
                    border: 1px solid var(--gunmetal-color);
                    border-radius: 50px;
                    bottom: 5px;
                    left: 4px;
                    transition: .3s;
                }
            }

            &__text {
                font-weight: 500;
                font-size: 18px;
                line-height: 136%;
                color: var(--eerie-black-color);
                max-height: 24px;
                transition: .3s;
            }

        }

        &-nav {
            display: flex;

            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 10px;


                p {
                    margin-top: 2px;
                    transition: .3s;
                    color: var(--granite-gray-color);
                }

                svg {
                    path {
                        transition: .3s;
                    }
                }

                &:hover {
                    p {
                        color: var(--gunmetal-color);
                    }

                    svg {
                        path {
                            stroke: var(--gunmetal-color);
                        }
                    }
                }
            }

            @media (max-width: 900px) {
                display: none;
            }
        }

        &--sticky {
            position: fixed;
            top: 0;
            z-index: 100;
            width: 100vw;
            left: 0;
            right: 0;
            background-color: var(--white-color);

        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 16px 0;
            height: 80px;
            background-color: var(--white-color);
            position: static;
            max-width: 1160px;
            margin: 0 auto;

            @media (max-width: 1100px) {
                padding: 16px 10px;
            }

            @media (max-width: 500px) {
                flex-direction: column;
                align-items: center;
                height: 100%;
            }
        }
    }
}